html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  border-color: rgb(165, 99, 99);
  background: url('webBg.jpg') no-repeat center center/cover; /* Background image */
}

p{
  color: rgb(255, 255, 255);
  font-size: 15px;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  margin: 0px;
}

h3 {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
}
.container {
  display: grid;
  grid-template-columns:1fr 15fr;
  gap: 5px;
  width: auto;
  justify-content: center;
  align-content: center;
}

.leftSide {
  display: flex;
  flex-direction:column ;
  height: 100vh;
  justify-content: space-around;
  align-items: center;
  background: rgba(101, 123, 98, 0.2);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}

.leftTab {
  display: flex;
  flex-direction:column ;
  /* background-color: rgb(195, 64, 64); */
  height: 400px;
  gap: 10px;
  border-radius: 10px;
  justify-content: space-around;
  align-items: center;
}

.left-Tab {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: fit-content;
  align-items: center;
}

.leftTabIcons{
  width: 70%;
}

.logo {
  margin-top: -20px;
}

.user {
  margin-bottom: -20px;
}

.left-Tab p {
font-size: 70%;
}

.rightSide {
  display: flex;
  height: 100vh;
  justify-content: center;
  background: rgba(101, 123, 98, 0.2);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}